.DS_Store

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Image output files
*.bmp

# Dependency files
*.d

ytelse_usbhost
build

resources/mcu_output.txt
resources/combine_image_sets
resources/interleave
resources/t10k-images-idx3-ubyte
resources/train-images-idx3-ubyte
resources/img_out

interleave/interleave_test
interleave/build
interleave/.d/
interleave/*.bmp
interleave/img
interleave/img/*.bmp
interleave/mnist-ubyte-no-header

usbspeedtest/build
usbspeedtest/output
usbspeedtest/usbspeed
